<h3>Products</h3>


<table class="table table-hover">
  <thead>
    <td><b>Name</b></td>
  </thead>
  <tbody>
    {{#each products}}
    <tr>
      <td>{{title}}</td>
        <a href="/products/{{id}}">View Product, if you dare!</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
