<h4>Name:</h4>
<p>{{product.title}}</p>

<h4>Description:</h4>
<p>{{product.description}}</p>

<h4>Image:</h4>
<p>{{product.imgUrl}}</p>

 <a href="/products">Back to all to products, if you dare!</a>
