{{#if error}}
  <div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    {{error}}
  </div>
{{/if}}

<form method="POST">
	Enter the verification code you just received by SMS:
	<input type= "text" name="code"></input>
	<button class="btn btn-success">Verify</button>
</form>